@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.max-width-row{
	max-width:none;
	background: $contest-mng-green;

}

.col-background{
	background: $contest-mng-green;
}

.col-contest-mgr{
	 @include vertical-align;
	 h1{
	 	font-weight: bold;
	 }
}

.col-margin-top{
	margin-top: 2em;
}

.col-footer{
	background: $contest-mng-black;
	@media #{$medium-up} {  
		height: 4em;
	}
	@media #{$small-only}{           
        height: 8em;   
    }
}

.large-text{
	font-weight: bold; 
	font-size:4em; 
	line-height: 1;
}

.small-text{
	font-weight: bold; 
	font-size:2em; 
	line-height: 1;
}

.list-item{
	font-weight: bold; 
	font-size:2em;
}

.col-contestmng-first{
	margin-top: 7em;
}

p#pg-run{
	font-weight: bold; 
	font-size:5em; 
	line-height: 1;
}

p#pg-contest{
	font-weight: bold; 
	font-size:5em; 
	text-align:center; 
	line-height: 1;
}

p#pg-connect{
	font-weight: bold; 
	font-size:2.5em; 
	line-height: 1;
}

p.pg-soliton{	
	font-weight: bold; 
	font-size:4em;
}

p#pg-customer{
	font-weight: bold; 
	font-size:3em; 
	line-height: 1
}

p#pg-info{
	font-weight: bold; 
	font-size:4.7em; 
	line-height: 1
}

p#pg-ipad{
	font-weight: bold; 
	font-size:4.5em; 
	line-height: 1
}

p.footer-text{
	color:white;
	//vertical-align:middle; 
	 @include vertical-align;
	font-size:1.5em;
}

p#pg-tradeshow-list{
	font-weight:bold;
	margin-top: 1em;
}

.col-list{
	margin-top:2em;
}

.col-soliton-second{
	margin-left: 10em;
	margin-top: 4em;
}

.col-cust-info{
	margin-top:5em; 
	margin-left:10em;
}


